.mui-content {
  text-align: center;
}
.content {
  padding-top: 0.76rem;
  padding-bottom: 0.7rem;
  padding: 0.76rem 1.68rem 0.7rem 1.68rem;
}
.details p {
  text-align: center;
}
.win {
  font-size: 0.3rem;
  color: #302f2f;
  font-weight: 600;
}
.more {
  color: #302f2f;
  font-size: 0.3rem;
}
.more > span {
  color: #31cdf3;
}
.btn-box {
  padding: 0 0.5rem;
  margin-bottom: 1rem;
}
.btn {
	display: block;
  width: 100%;
  height: 0.9rem;
  line-height: 0.9rem;
  background-color: #00c3f3;
  color: #fff;
  font-size: 0.3rem;
  border-radius: 0.08rem;
  text-align: center;
}
.blue {
  color: #00c3f3;
}
.text {
  padding-left: 0.63rem;
  padding-right: 0.5rem;
  margin-bottom: 0.85rem;
}
.t-left {
  line-height: 0.5rem;
  text-align: left;
  font-size: 0.26rem;
}
.footer-tp {
  text-align: center;
  margin-bottom: 0.9rem;
}
.footer-tp p {
  font-size: 0.22rem;
}
.loser {
  width: 100%;
}
